<h4>Bed Ready <small>{{ _('Version') }} {{ plugin_bedready_plugin_version }}</small></h4>
<div class="row-fluid">
    <div class="well"><p>For the plugin to work properly add <span class="label label-info">@BEDREADY</span> at the beginning of your slicer's start gcode. For best results add gcode to your slicer's end gcode to position the head out of the way for the next comparison.</p><p><span class="label label-important">NOTE:</span> Lighting, camera view angle changes, and filament color that is similar to the bed can impact accuracy; adjust the Match Percentage setting below to compensate.</p></div>
</div>
<div class="well alert-danger" data-bind="visible: !snapshot_valid()"><p>Invalid Snapshot URL configured in <a href="javascript:void(0)" data-bind="click: function(){ settingsViewModel.show('#settings_webcam'); }">Webcam & Timelapse</a> settings. That setting must be configured with a full url for this plugin (as well as timelapse) to function properly.</p></div>

<form class="form-vertical" id="settings_plugin_bedready_form" data-bind="visible: snapshot_valid()">
  <h3>{{ _('Reference Image') }}</h3>
  <div class="control-group">
    <div class="controls">
      <p>
        <div id="image-container" style="position: relative;" data-bind="visible: settingsViewModel.settings.plugins.bedready.reference_image().length > 0">
          <img id="reference-snapshot" src="" alt="bed snapshot" style="position: relative;" data-bind="attr: {src: 'plugin/bedready/images/' + settingsViewModel.settings.plugins.bedready.reference_image()}">
          <canvas id="overlay-canvas" data-bind="visible: settingsViewModel.settings.plugins.bedready.enable_roi, event: {
              mousedown: mouseDown, 
              mousemove: mouseMove,
              mouseup: mouseUp,
              mouseout: mouseUp
          }" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: auto;"></canvas>
        </div>
      </p>
      <button class="btn btn-primary" data-bind="click: take_snapshot, enable: !taking_snapshot(), css: {disabled: taking_snapshot()}"><i class="fas" data-bind="css: {'fa-spinner fa-spin': taking_snapshot(), 'fa-camera': !taking_snapshot()}"></i> {{ _('Take Snapshot') }}</button> 
      <button class="btn btn-primary" data-bind="visible: settingsViewModel.settings.plugins.bedready.reference_image().length > 0, click: test_snapshot, enable: !taking_snapshot(), css: {disabled: taking_snapshot()}"><i class="fas" data-bind="css: {'fa-spinner fa-spin': taking_snapshot(), 'fa-camera': !taking_snapshot()}"></i> {{ _('Test Reference') }}</button>
    </div>
    <h4>{{ _('Region of Interest') }}</h4>
    <label class="checkbox">Enable Region of Interest
        <input id="enable_roi_cb" type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.bedready.enable_roi, click: toggle_enable_roi">
    </label>
    <div class="row-fluid" data-bind="visible: settingsViewModel.settings.plugins.bedready.enable_roi">
        <div class="well"><p>Move around the points defining the ROI on the reference image canvas above by dragging the blue corner points to the edges of the print bed. CTRL + click on empty parts of the canvas to add a new point to the polygon and CTRL + click on a point of the polygon to remove it.
        </div>
    </div>
  </div>
	<div class="control-group">
    <label class="control-label">{{ _('Match Percentage') }} <span data-bind="text: (settingsViewModel.settings.plugins.bedready.match_percentage() * 100).toFixed(1)"></span>%</label>
		<div class="controls">
      <input type="number" style="width: 650px; display: none;" data-bind="slider: {min: 0, max: 1, step: .001, value: settingsViewModel.settings.plugins.bedready.match_percentage, tooltip: 'hide'}">
    </div>
	</div>
	<div class="control-group">
    <label class="control-label">{{ _('Action') }}</label>
		<div class="controls">
      <select data-bind="value: settingsViewModel.settings.plugins.bedready.cancel_print">
        <option value="False">Pause</option>
        <option value="True">Cancel</option>
      </select>
    </div>
	</div>

  <h3 class="control-label">{{ _('Snapshots') }}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Snapshot</th>
      <th>Filename</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: reference_images">
    <tr>
    <td>
      <img alt="bed snapshot" data-bind="attr: {src: 'plugin/bedready/images/' + $data}" style="max-width: 100px">
      </td>
      <td data-bind="text: $data.split('/').pop()"></td>
      <td>
        <p>
        <button class="btn btn-primary" data-bind="click:$root.set_default_snapshot, disable:(('plugin/bedready/images/' + $data)==('plugin/bedready/images/' + $root.settingsViewModel.settings.plugins.bedready.reference_image()))">Set as Reference</button>
        </p>
        <p>
        <button class="btn" data-bind="click:$root.delete_snapshot">Delete</button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</form>
